@import url('https://cdn.jsdelivr.net/npm/geist@1.3.1/dist/font/sans.css');
@import url('https://cdn.jsdelivr.net/npm/geist@1.3.1/dist/font/mono.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 12px; /* Reduced from default 16px for a more compact UI */
}

body {
  font-family: 'Geist Sans', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: oklch(0.96 0 0);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: oklch(0.8 0 0);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: oklch(0.7 0 0);
}
